@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.nav {

    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(255, 255, 255, 0);
    justify-content: space-between;
    flex-direction: row;
    color: #000000;
    overflow: hidden;
    margin-bottom: 0px;
    box-shadow: 0px 0px 2px #b9b6e2be inset;
    align-items: center;
    border-radius: 15px;
}

li {
    text-decoration: none;
    list-style: none;

}

.logo {
    cursor: pointer;
    font-size: 50px;
    padding-bottom: 10px;
    padding-left: 30px;
}

body {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.nav-links li {
    display: inline-block;
    padding: 26.5px 0;
}

.nav-links li:first-child {
    border-radius: 15px 0 0 15px;
}

.nav-links li:last-child {
    border-radius: 0 15px 15px 0;
}

.nav-links li:last-child:hover {
    background-color: skyblue !important;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: rgb(14, 12, 12);
    padding: 26.5px 20px;
}

.nav-links li a:active {

    color: white;
}

.nav-links li:hover {
    background-color: rgb(145, 154, 255);
}

.nav-links {
    margin: 0;
}

.sheader {
    margin-top: 0px;
    background-color: lightgray;
    border-radius: 15px;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sheader h1 {
    text-align: center;
    color: honeydew;
}

.sheader img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.nav a {
    text-decoration: none;
    color: skyblue;

}

.nav a b {
    font-size: 35px;
}

@media screen and (max-width:804px) {
    .nav ul {
        display: none;
    }

    .nav a.icon {
        display: inline-flex;
        padding: 10px 20px;
        font-size: 35px;
    }
}

@media screen and (max-width:500px) {
    .nav.responsive {
        justify-content: center;
    }

    .nav.responsive a.logo {
        padding: 0;
    }
}

@media screen and (max-width:804px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-links li:first-child {
        border-radius: 0;
    }

    .nav-links li:last-child {
        border-radius: 0;
        border-bottom: 1px solid skyblue;
    }
}

.nav.responsive ul {
    float: none;
    display: block;

}

.nav.responsive ul li {
    width: 100%;
    text-align: center;

}

.nav .icon {
    display: none;

}

.logos {
    width: 70px;
}

.logoo {
    width: 80px;
}

.logop {
    width: 85px;
}
.feature p{
    font-size: 14px;
    padding: 10px;
    padding-top: 15px;
}

.logolar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 80px 0;
}

p {
    font-size: 18px;
}

.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

@media (max-width:480px) {
    .sheader h1 {
        top: 100px;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

.nav li a:hover {
    color: white !important;
}